<form class="message_form py-3">
  <input id="userId" type="hidden" name="user_id" value="<%= current_user.id %>">
  <input id="chatRoomId" type="hidden" name="chat_room_id" value="<%= chat_room.id %>">
  <input id="inputContent" class="inputContent" type="text" name="content" data-behavior="chat_speaker">
  <button type="submit" id="submit_button" class="submit_button" style="border-radius: 5px;"><i class="fa fa-send-o"></i></button>
</form>
