<% @page_title = "管理ページトップ" %>

<h2 class="p-3"><%= @page_title %></h2>

<%= link_to "会員管理", admin_users_url, class: "btn btn-primary" %>
<%= link_to "ニュース記事管理", admin_articles_url, class: "btn btn-primary" %>
