/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
 @import "bootstrap";
 /* アセットパイプラインを機能させるためには @import 'ファイル名'を用いて他ファイルをapplication.scss読み込む
    のと、scaffolds.scssを削除する　*/
 @import "top";
 @import "users";
 @import "notice";
 /* ファイル名を囲い込むときは、''(セミコロン)ではなく、""(ダブルコロン) */
 @import "errors";
 @import "passwords";
 @import "alert";
 @import "articles";
 @import "pagination";
 @import "blogs";
 @import "relationships";
 @import "messages";
 @import "slick";
 @import "slick-theme";
 @import "slick-part";

 body {
   .container-fluid {
     font-family: "Helvetica";
     width: 100%;
     header {
       position: fixed;
       z-index: 5;
       width: 100%;
       .container-fluid {
         height: 100px;
         background: rgba(36,254,4, 0.8);  /* fallback for old browsers */
         background: -webkit-linear-gradient(to bottom,rgba(36,254,4, 0.8), rgba(253,252,4, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to bottom, rgba(36,254,65, 0.8), rgba(253,252,4, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         color: #EEFFFF;
         .menu-icon {
           font-size: 30px;
           &:hover {
             cursor: pointer;
             color: rgba(245, 245, 245, 0.7);
           }
         }
         .name-display {
           font-size: 15px;
           img {
             width: 70px; height: 70px;
             border-radius: 35px;
             border: 3px solid;
           }
           a {
             color: #FFF;
             &:hover {
               text-decoration: none;
               color: rgba(245, 245, 245, 0.7);
             }
           }
           span { color: #7b68ee; }
         }
         .menubar {
           position: fixed;
           z-index: 10;
           .contents {
             width: 250px; height: 100%;
             position: fixed;
             background-color: rgb(255, 215, 0);
             display: none;
             ul.menu-list {
               font-size: 20px;
               list-style-type: none;
               a {
                 color: #EEFFFF;
                 display: block;
                 padding: 5px;
                 &:hover {
                   text-decoration: none;
                   color: rgba(245, 245, 245, 0.7);
                 }
               }
               li span {
                 color: #7b68ee;
               }
             }
             .close-modal {
               font-size: 11px;
               &:hover {
                 cursor: pointer;
                 border: none;
                 color: rgba(245, 245, 245, 0.7);
               }
             }
           }
         }
       }
     }
     main {
       background-color: rgba(255, 250, 205, 0.8);
       width: 100%;
       .container-fluid {
         width: 100%;
         .search {
           .search-text {
             width: 300px; height: 30px;
             position:relative;
             outline: 0;
             border-radius: 15px 15px 15px 15px;
             border: 2px solid;
           }
           .submit-button {
             background-color: #dcdcdc;
             width: 50px; height: 30px;
             outline: 0;
             border-radius: 15px 15px 15px 15px;
             border: 2px solid;
           }
         }
         h2 {
           text-align: center;
         }
         .login_form {
           font-family: "FontAwesome";
           text-align: center;
           margin: auto;
           background-color: #f5f5f5;
           div{
             .input-text {
               width: 70%; height: 40px;
               border: none;
               border-bottom: solid 2px #C0C0C0;
             }
             .fa-envelope, .fa-unlock-alt {
               background-color: #C0C0C0;
               padding-top: 11px;
               width: 40px; height: 40px;
             }
             .button {
               width:  70%; height: 40px;
             }
           }
         }
         .top-news {
           margin: auto;
           .news-text {
             border-bottom: 2px solid #d3d3d3;
             h5, p { text-align: center; }
             margin: auto;
             background-color: #f5f5f5;
           }
           .news-text:last-child {
             border-bottom: none;
           }
         }
       }
     }
     footer {
       background: #B2FEFA;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

       .container-fluid {
         height: 200px;
         width: 100%;
       }
     }
   }
 }
